.contacts {
    padding: 20px 0 150px 0;
}

.text {
    font-weight: 900;
    font-size: 60px;
}
.wrapper {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}
.wrapperBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block {
    width: 490px;
    height: 277px;
    padding: 45px 76px 50px 30px;
    background-color: var(--beige-bg-color);
    border-radius: 25px;
    h3 {
        font-weight: 700;
        font-size: 24px;
    }
}

.flexBlock {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
        font-weight: 400;
        font-size: 21px;
    }
    span {
        font-weight: 700;
    }
}

.filter {
    width: 100%;
    filter: brightness(0.95);
}

@media screen and (max-width: 1000px) {
    .wrapper {
        gap: 20px;
    }
    .wrapperBlock {
        gap: 20px;
    }
    .block {
        padding: 45px 30px 50px 30px;
        width: 442px;
    }
    .flexBlock {
        gap: 20px;
    }
}

@media screen and (max-width: 850px) {
    .block {
        width: 388px;
    }
    .flexBlock {
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    .wrapperBlock {
        width: 100%;
    }
    .block {
        height: 100%;
        width: 100%;
    }
    .filter {
        height: 575px;
    }
}

@media screen and (max-width: 480px) {
    .block {
        padding: 35px 20px 40px 20px;
        h3 {
            font-size: 20px;
        }
    }

    .flexBlock {
        p {
            font-size: 17px;
        }
        span {
            font-size: 17px;
        }
    }
}
