.eco {
    position: relative;
    background-color: var(--beige-bg-color);
    padding: 130px 0 150px 0;
    text-align: center;
    span {
        position: absolute;
        top: 0;
        transform: translateY(-50%) translateX(-50%);
    }
    h2 {
        font-weight: 900;
        font-size: 48px;
    }
    P {
        font-weight: 400;
        font-size: 21px;
    }
}

.ecoWrapper {
    width: 802px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .ecoWrapper {
        width: auto;
    }
}

@media screen and (max-width: 480px) {
    .eco {
        padding: 70px 0 90px 0;
        svg {
            width: 100px;
            height: 100px;
        }
        h2 {
            font-size: 40px;
        }
        P {
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 360px) {
    .eco {
        h2 {
            font-size: 36px;
        }
    }
}
