.block {
    position: relative;
    aspect-ratio: 1/1;
    z-index: 1;
    border-radius: 25px;
    padding: 15%;
    background-color: var(--beige-bg-color);
    transition: 0.4s ease;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    img {
        transition: 0.3s ease;
        width: 100%;
    }
}

.add {
    display: none;
}

.block:hover {
    border-radius: 100%;
    img {
        transform: rotate(5deg) scale(120%);
    }
    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 3%;
        top: 7px;
        right: 7px;
        z-index: 999;
        width: 14%;
        height: 14%;
        border-radius: 100%;
        background-color: var(--second-bg-color);

        :hover {
            path {
                transition: 0.3s ease;
                stroke: #c49a6c;
            }
        }
    }
}

.textBlock {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--second-text-color);

    h3,
    p {
        text-decoration: none;
        color: inherit;
    }

    h3 {
        font-weight: 700;
        font-size: 24px;
    }

    p {
        font-weight: 400;
        font-size: 21px;
    }
}

.priceBlock {
    display: flex;
    justify-content: space-between;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
