.followUs {
    padding: 130px 0 150px 0;
    h2 {
        font-weight: 900;
        font-size: 48px;
    }
}

.followUsWrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
.blockWrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.blockWrapper:nth-child(1) {
    flex-basis: 386px;
    max-width: 100%;
}

.blockWrapper:nth-child(2) {
    flex-basis: 490px;
    max-width: 100%;
}

.blockWrapper:nth-child(3) {
    flex-basis: 280px;
    max-width: 100%;
}

.blockWrapper img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: block;
}

.blockWrapper p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 21px;
}

.img {
    transition: 0.33s;
}

.img:hover {
    transform: scale(1.05);
    outline: 5px solid #f0f0f0;
}
#text,
#warm {
    display: none;
}

@media screen and (max-width: 1000px) {
    .followUs {
        padding: 90px 0 100px 0;
    }
    .followUsWrapper {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    #carpets {
        display: none;
    }
    #text {
        display: block;
    }
    .followUsWrapper {
        gap: 20px;
    }
    .blockWrapper:nth-child(1),
    .blockWrapper:nth-child(2) {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 554px) {
    .followUs {
        padding: 70px 0 90px 0;

        h2 {
            font-size: 40px;
        }
        p {
            font-size: 17px;
        }
    }
    .blockWrapper {
        p {
            margin-top: 15px;
        }
    }
    .followUsWrapper {
        justify-content: center;
    }
    .blockWrapper:nth-child(1) {
        flex-basis: 100%;
    }
    #wrapped {
        display: none;
    }
    #warm {
        display: block;
        font-size: 28px;
    }
}

@media screen and (max-width: 360px) {
    .followU {
        h2 {
            font-size: 36px;
        }
    }
    .blockWrapper {
        p {
            margin-top: 10px;
        }
    }
}
