.header {
    position: relative;
    padding: 30px 0;
    display: flex;

    justify-content: space-between;
    align-items: center;
    h1 {
        font-weight: 900;
        font-size: 36px;
        text-transform: uppercase;
    }
    a {
        font-weight: 400;
        font-size: 21px;
        text-decoration: none;
        cursor: pointer;
        color: var(--second-text-color);
    }
}

#wh {
    display: none;
}

.logo {
    position: absolute;
    right: 50%;
    transform: translate(50%);
}

.linksPages {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-decoration: none;
}

.linksSearch {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.linksPages a.active {
    font-weight: 900;
}

#svgIcons {
    display: none;
}

.burger {
    display: none;
}

@media screen and (max-width: 1000px) {
    .burger {
        display: block;
    }
    .linksPages {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .linksSearch {
        display: none;
    }
    #svgIcons {
        display: flex;
        align-items: center;
        font-size: 21px;
        gap: 10px;
        :nth-child(1) {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 570px) {
    .header {
        h1 {
            font-size: 28px;
        }
    }
    #searchIcon {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    #mainText {
        display: none;
    }
    #wh {
        display: block;
    }
}
