.header {
    position: relative;
    padding: 30px 0;
    display: flex;

    justify-content: space-between;
    align-items: center;
    h1 {
        font-weight: 900;
        font-size: 36px;
        text-transform: uppercase;
    }
    a {
        font-weight: 400;
        font-size: 21px;
        text-decoration: none;
        cursor: pointer;
    }
}

.logo {
    position: absolute;
    right: 50%;
    transform: translate(50%);
}

.linksPages {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-decoration: none;
}

.linksSearch {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.linksPages a.active {
    font-weight: 900;
}

.burger {
    display: none;
}

@media screen and (max-width: 1000px) {
    .burger {
        display: block;
    }
    .linksPages {
        display: none;
    }
}
