.discount {
    padding: 130px 0 139px 0;
    background-color: var(--beige-bg-color);
}

.discountWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textBlock {
    width: 667px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h2 {
        font-weight: 900;
        font-size: 48px;
    }
    p {
        font-weight: 400;
        font-size: 21px;
    }
}

.inputBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    input {
        width: 490px;
        height: 45px;
        padding-bottom: 5px;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 3px solid var(--second-bg-color);
        font-weight: 400;
        font-size: 21px;
    }
}
