:root {
    font-family: "Lato", sans-serif;
    --main-bg-color: #fdfbf9;
    --second-bg-color: #2c2c2c;
    --beige-bg-color: #f7ede4;

    --main-text-color: #fdfbf9;
    --second-text-color: #2c2c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
}
.container {
    max-width: 1198px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

section,
footer,
header {
    position: relative;
}

section::before,
footer::before,
header::before {
    content: none;
}

section.active::before,
footer.active::before,
header.active::before {
    content: "";
    position: absolute;
    background: inherit;
    width: calc(100vw - 100%);
    height: 100%;
    top: 0;
    right: -15px;
}
/* @media screen and (max-width: 1270px) {
    .container {
        margin: 0 20px;
    }
} */

/* body::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%; 
    width: 1px; 
    background: rgba(255, 0, 0, 0.5); 
    pointer-events: none; 
    z-index: 9999;
} */
