.viewed {
    padding-bottom: 150px;
}

@media screen and (max-width: 1000px) {
    .viewed {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 480px) {
    .viewed {
        padding-bottom: 80px;
    }
}
